@import "./mixin.scss";
@import "./welcome.scss";
@import "./admin.scss";
:root {
  --blue-gray: #5d6c89;
  --blue-gray-clear: #5d6c8982;
  --x-blue-gray-clear: #5d6c8915;
  --turquoise: #36d6e7;
  --y-turquoise-clear: #36d5e7a3;
  --turquoise-clear: #36d5e720;
  --tangerine: #feb06a;
  --tangerine-clear: #feaf6a4e;
  --cream: #fbf6f3;
  --cream-clear: #fbf6f3bc;
  --black: #000000;
  --dark: var(--black);

  --shadow-medium: 0 0 0.4rem var(--black);

  --font-sans: "Open Sans", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(179deg);
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: var(--font-quicksand);
}
input,
select,
option,
textarea {
  font-family: var(--font-sans);
  &:focus {
    outline: none;
  }
}

ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}
.note {
  width: 50%;
  margin: auto;
}
.react-date-picker__clear-button {
  display: none;
}
#top-rota-header .react-date-picker__calendar {
  z-index: 999;
}
.form {
  margin-bottom: 2rem;
  .input {
    @include border;
    box-shadow: var(--shadow-medium);
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    > div {
      margin: 0.5rem 0 0.5rem auto;
    }
    label {
      font-size: 1.2rem;
      padding-right: 0.5rem;
    }
  }
  &.sign-in {
    display: flex;
    flex-direction: column;
    input {
      margin: 1rem auto 0;
    }
    margin-bottom: 0;
  }
}

.pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--cream-clear);
  display: flex;
  z-index: 999;
  overflow-y: scroll;
  .inner {
    @include dbl-border(var(--blue-gray));
    padding: 2rem 3rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue-gray);
    h1 {
      margin-bottom: 1rem;
      color: var(--cream);
    }
  }
  &.warning {
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;

    .inner {
      div {
        margin: 0 0 0 auto;
      }
      button {
        margin: 1rem 0.5rem 0;
      }
    }
  }
  &.options .inner > button {
    margin: 0 0 0 auto;
  }
  .employees-list,
  .locations-list {
    table {
      margin-bottom: 2rem;
      width: 100%;
      thead {
        tr {
          th {
            text-align: left;
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      td {
        padding: 1rem 2rem 1rem 0;
        &:last-child {
          padding-right: 0;
        }
        &.options {
          display: flex;
          justify-content: flex-end;
        }
        h2,
        h3 {
          color: var(--black);
        }
        button {
          margin: 0 0 0 0.5rem;
        }
      }
    }
  }
}
#alert-message-container {
  .title,
  .message {
    color: var(--black);
    text-align: center;
    padding-bottom: 1rem;
  }
  .message {
    color: var(--cream);
    font-size: 1.5rem;
  }
  .button {
    margin: 0 auto;
  }
}
.break-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  @include border;
  box-shadow: var(--shadow-medium);
  padding: 0.5rem 1rem;
  background-color: var(--tangerine);
  border-radius: 2rem;
  font-size: 1rem;
  color: var(--black);
  cursor: pointer;
  transition: 0.5s ease;
  margin: 0 auto;
  min-width: 5rem;
  &.save {
    margin-top: 1rem;
  }
  &:hover {
    background-color: transparent;
  }
  &.sign-out {
    position: absolute;
    top: 0.75rem;
    left: 1rem;
  }
  &.small {
    padding: 0.2rem;
    margin: 0 0.2rem;
    font-size: 0.8rem;
    border-width: 1px;
  }
  &.notes {
    position: absolute;
    top: 0.15rem;
    left: 12rem;
  }
  &.today {
    margin: 0 0 0 auto;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--turquoise)),
    to(var(--blue-gray))
  );
  box-shadow: inset 1px 1px 1px var(--turquoise-clear);
}
#root {
  #top-rota-header {
    display: flex;
    padding: 0.75rem;
    justify-content: flex-end;
    background-color: var(--blue-gray);
    & > div {
      margin: 0 1rem;
    }
    .react-date-picker__wrapper {
      @include border;
      border-radius: 2rem;
      padding: 0 1rem;
      background-color: var(--cream-clear);
      input:focus {
        outline: none;
      }
    }
  }
  &.options {
    overflow: hidden;
  }
  .rota-container {
    min-width: 1800px;
    .react-calendar {
      @include border;
      border-radius: 1rem;
      background-color: var(--blue-gray);
      box-shadow: var(--shadow-medium);
      .react-calendar__month-view__days__day--weekend {
        color: var(--tangerine);
      }
      .react-calendar__tile--active {
        background: var(--turquoise);
      }
      .react-calendar__tile--now {
        background: var(--turquoise-clear);
      }
    }
    .weekdays {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      li {
        text-align: center;
        position: relative;
        height: 3rem;
        transition: height 0.5s ease;
      }
      overflow: hidden;
      .weekday-note {
        border-radius: 1rem;
        position: relative;
        bottom: -10rem;
        padding: 0.3rem 0.5rem;
        transition: bottom 0.5s ease;
        max-height: 6rem;
        min-height: 4rem;
        max-width: 9rem;
        min-width: 7rem;
      }
      &.notes {
        li {
          height: 10rem;
        }
        .weekday-note {
          bottom: 0;
        }
      }
    }
    .rota {
      display: flex;
      flex-direction: column;
    }
    .week-total,
    .all-week-total {
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        box-shadow: var(--shadow-medium);
        @include border;
        text-align: center;
        width: 4rem;
        height: 4rem;
        background-color: var(--turquoise);
        margin: auto;
        line-height: 4;
        border-radius: 50%;
      }
      &.overtime span {
        background-color: var(--tangerine);
      }
    }
    .rota-header {
      @include border;
      background-color: var(--turquoise);
      position: sticky;
      top: 0;
      border-left: none;
      border-right: none;
      z-index: 1;
      .name {
        margin: auto;
        margin-left: 0.5rem;
      }
    }
    .rota-footer {
      padding: 0.4rem 0;
    }
    .person-container:last-of-type {
      border-bottom: 2px solid var(--blue-gray-clear);
      box-shadow: 0 2px 4px var(--blue-gray-clear);
    }
    .person-container,
    .rota-footer,
    .rota-header {
      display: grid;
      grid-template-columns: 1fr 5fr 0.5fr;
      .week-total {
        text-align: center;
      }
      .about,
      .shift-container,
      .week-total {
        padding: 0.5rem;
      }
      .about {
        .name,
        .title {
          color: var(--blue-gray);
        }
        .name {
          font-size: 2rem;
          font-weight: 600;
        }
        .title {
          font-size: 1.3rem;
          font-weight: 300;
        }
      }
      .shifts-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        .shift-container {
          transition: opacity 0.5s ease;
          &:nth-child(odd) {
            background-color: var(--x-blue-gray-clear);
          }
          &.off {
            .shift {
              opacity: 0.2;
            }
            .time {
              box-shadow: none;
              border-color: var(--blue-gray);
            }
            .shift-total {
              background: transparent;
            }
          }
          &:hover {
            background-color: var(--tangerine);
            .shift {
              opacity: 1;
            }
          }
        }
        .shift {
          @include border;
          border-radius: 1rem;
          margin: auto;
          display: grid;
          justify-content: center;
          grid-template-columns: 1fr 1fr;
          .data,
          .shift-time {
            display: grid;
            grid-template-rows: 1fr 1fr;
            padding: 0 0.2rem;
          }
          .time,
          .shift-total,
          .locations {
            display: block;
            width: 80px;
            // border: 2px solid var(--white);
            // box-shadow: var(--shadow-medium);
            // border-radius: 2rem;
            padding: 0.2rem 0.3rem;
            margin: 0.2rem 0 0.2rem 0;
            background-color: var(--white);
          }
          .time {
            border: none;
            font-family: var(--font-quicksand);
            font-size: 1rem;
            &:focus {
              outline: none;
            }
          }
          .shift-total {
            border-radius: 0.2rem;
            background-color: var(--tangerine-clear);
            &::after {
              padding-left: 0.2rem;
              content: "total";
            }
          }
          .locations {
            cursor: pointer;
            border: none;
            width: 89.58px;
            &:focus {
              outline: none;
            }
            option {
              font-size: 1rem;
            }
          }
        }
      }
      &:nth-child(odd) {
        background-color: var(--blue-gray-clear);
        .title,
        .name {
          color: var(--cream);
        }
      }
      &:last-child {
        background-color: var(--turquoise-clear);
      }
    }
  }
}

/*# sourceMappingURL=index.css.map */
