:root {
  --blue-gray: #5d6c89;
  --blue-gray-clear: #5d6c8982;
  --turquoise: #36d6e7;
  --turquoise-clear: #36d5e720;
  --tangerine: #feb06a;
  --cream: #fbf6f3;
  --cream-clear: #fbf6f3bc;
  --black: #000000;
  --dark: var(--black);
  --shadow-medium: 0 0 0.4rem var(--black);
  --font-sans: "Open Sans", sans-serif;
  --font-quicksand: "Quicksand", sans-serif; }

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: var(--font-quicksand); }

input,
select,
option {
  font-family: var(--font-sans); }

ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

button:focus {
  outline: none; }

.react-date-picker__clear-button {
  display: none; }

.form {
  margin-bottom: 2rem; }
  .form .input {
    border: 4px solid var(--cream-clear);
    box-shadow: var(--shadow-medium);
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1rem; }
    .form .input:focus {
      outline: none; }
  .form form {
    display: flex;
    flex-direction: column; }
    .form form > div {
      margin: 0.5rem 0 0.5rem auto; }
    .form form label {
      font-size: 1.2rem;
      padding-right: 0.5rem; }

.pop-up {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--cream-clear);
  display: flex;
  z-index: 999;
  overflow-y: scroll; }
  .pop-up .inner {
    border: 4px solid var(--cream-clear);
    outline: 4px solid var(--blue-gray);
    padding: 2rem 3rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue-gray); }
    .pop-up .inner h1 {
      margin-bottom: 1rem;
      color: var(--cream); }
  .pop-up.warning {
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%; }
    .pop-up.warning .inner div {
      margin: 0 0 0 auto; }
    .pop-up.warning .inner button {
      margin: 1rem 0.5rem 0; }
  .pop-up.options .inner > button {
    margin: 0 0 0 auto; }
  .pop-up .employees-list table,
  .pop-up .locations-list table {
    margin-bottom: 2rem;
    width: 100%; }
    .pop-up .employees-list table thead tr th,
    .pop-up .locations-list table thead tr th {
      text-align: left; }
      .pop-up .employees-list table thead tr th:last-child,
      .pop-up .locations-list table thead tr th:last-child {
        text-align: right; }
    .pop-up .employees-list table td,
    .pop-up .locations-list table td {
      padding: 1rem 2rem 1rem 0; }
      .pop-up .employees-list table td:last-child,
      .pop-up .locations-list table td:last-child {
        padding-right: 0; }
      .pop-up .employees-list table td.options,
      .pop-up .locations-list table td.options {
        display: flex;
        justify-content: flex-end; }
      .pop-up .employees-list table td h2,
      .pop-up .employees-list table td h3,
      .pop-up .locations-list table td h2,
      .pop-up .locations-list table td h3 {
        color: var(--black); }
      .pop-up .employees-list table td button,
      .pop-up .locations-list table td button {
        margin: 0 0 0 0.5rem; }

#alert-message-container .title,
#alert-message-container .message {
  color: var(--black);
  text-align: center;
  padding-bottom: 1rem; }
#alert-message-container .message {
  font-size: 1.5rem; }
#alert-message-container .button {
  margin: 0 auto; }

.button {
  border: 4px solid var(--cream-clear);
  box-shadow: var(--shadow-medium);
  padding: 0.5rem 1rem;
  background-color: var(--tangerine);
  border-radius: 2rem;
  font-size: 1rem;
  color: var(--black);
  cursor: pointer;
  transition: 0.5s ease;
  margin: 0 auto; }
  .button.save {
    margin-top: 1rem; }
  .button:hover {
    background-color: transparent; }

#root #top-rota-header {
  display: flex;
  padding: 0.75rem;
  justify-content: flex-end;
  background-color: var(--blue-gray); }
  #root #top-rota-header > div {
    margin: 0 1rem; }
  #root #top-rota-header .react-date-picker__wrapper {
    border: 4px solid var(--cream-clear);
    border-radius: 2rem;
    padding: 0 1rem;
    background-color: var(--cream-clear); }
    #root #top-rota-header .react-date-picker__wrapper input:focus {
      outline: none; }
#root .rota-container .react-calendar {
  border: 4px solid var(--cream-clear);
  border-radius: 1rem;
  background-color: var(--blue-gray);
  box-shadow: var(--shadow-medium); }
  #root .rota-container .react-calendar .react-calendar__month-view__days__day--weekend {
    color: var(--tangerine); }
  #root .rota-container .react-calendar .react-calendar__tile--active {
    background: var(--turquoise); }
  #root .rota-container .react-calendar .react-calendar__tile--now {
    background: var(--turquoise-clear); }
#root .rota-container .weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  #root .rota-container .weekdays li {
    text-align: center; }
#root .rota-container .rota {
  display: flex;
  flex-direction: column; }
#root .rota-container .week-total,
#root .rota-container .all-week-total {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #root .rota-container .week-total span,
  #root .rota-container .all-week-total span {
    box-shadow: var(--shadow-medium);
    border: 4px solid var(--cream-clear);
    text-align: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--turquoise);
    margin: auto;
    line-height: 4;
    border-radius: 50%; }
  #root .rota-container .week-total.overtime span,
  #root .rota-container .all-week-total.overtime span {
    background-color: var(--tangerine); }
#root .rota-container .rota-header {
  border: 4px solid var(--cream-clear);
  background-color: var(--turquoise); }
#root .rota-container .rota-footer {
  padding: 0.4rem 0; }
#root .rota-container .person-container,
#root .rota-container .rota-footer,
#root .rota-container .rota-header {
  display: grid;
  grid-template-columns: 1fr 5fr 0.5fr; }
  #root .rota-container .person-container .week-total,
  #root .rota-container .rota-footer .week-total,
  #root .rota-container .rota-header .week-total {
    text-align: center; }
  #root .rota-container .person-container .about,
  #root .rota-container .person-container .shifts-container,
  #root .rota-container .person-container .week-total,
  #root .rota-container .rota-footer .about,
  #root .rota-container .rota-footer .shifts-container,
  #root .rota-container .rota-footer .week-total,
  #root .rota-container .rota-header .about,
  #root .rota-container .rota-header .shifts-container,
  #root .rota-container .rota-header .week-total {
    padding: 0.5rem; }
  #root .rota-container .person-container .about .name,
  #root .rota-container .person-container .about .title,
  #root .rota-container .rota-footer .about .name,
  #root .rota-container .rota-footer .about .title,
  #root .rota-container .rota-header .about .name,
  #root .rota-container .rota-header .about .title {
    color: var(--blue-gray); }
  #root .rota-container .person-container .about .name,
  #root .rota-container .rota-footer .about .name,
  #root .rota-container .rota-header .about .name {
    font-size: 1.3rem;
    font-weight: 600; }
  #root .rota-container .person-container .about .title,
  #root .rota-container .rota-footer .about .title,
  #root .rota-container .rota-header .about .title {
    font-size: 1rem;
    font-weight: 300; }
  #root .rota-container .person-container .shifts-container,
  #root .rota-container .rota-footer .shifts-container,
  #root .rota-container .rota-header .shifts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
    #root .rota-container .person-container .shifts-container .shift-container,
    #root .rota-container .rota-footer .shifts-container .shift-container,
    #root .rota-container .rota-header .shifts-container .shift-container {
      transition: opacity 0.5s ease; }
      #root .rota-container .person-container .shifts-container .shift-container.off,
      #root .rota-container .rota-footer .shifts-container .shift-container.off,
      #root .rota-container .rota-header .shifts-container .shift-container.off {
        opacity: 0.2; }
        #root .rota-container .person-container .shifts-container .shift-container.off .time,
        #root .rota-container .rota-footer .shifts-container .shift-container.off .time,
        #root .rota-container .rota-header .shifts-container .shift-container.off .time {
          box-shadow: none;
          border-color: var(--blue-gray); }
    #root .rota-container .person-container .shifts-container .location-selector,
    #root .rota-container .rota-footer .shifts-container .location-selector,
    #root .rota-container .rota-header .shifts-container .location-selector {
      padding: 0.4rem 0 0;
      display: flex;
      justify-content: center; }
      #root .rota-container .person-container .shifts-container .location-selector select,
      #root .rota-container .rota-footer .shifts-container .location-selector select,
      #root .rota-container .rota-header .shifts-container .location-selector select {
        border: 4px solid var(--cream-clear);
        box-shadow: var(--shadow-medium);
        border-width: 3px;
        padding: 0.25rem;
        background-color: var(--tangerine);
        border-radius: 2rem;
        font-size: 0.8rem;
        color: var(--black);
        cursor: pointer;
        transition: 0.5s ease;
        margin: 0 auto; }
        #root .rota-container .person-container .shifts-container .location-selector select:hover,
        #root .rota-container .rota-footer .shifts-container .location-selector select:hover,
        #root .rota-container .rota-header .shifts-container .location-selector select:hover {
          background-color: transparent; }
        #root .rota-container .person-container .shifts-container .location-selector select:focus,
        #root .rota-container .rota-footer .shifts-container .location-selector select:focus,
        #root .rota-container .rota-header .shifts-container .location-selector select:focus {
          outline: none; }
        #root .rota-container .person-container .shifts-container .location-selector select option,
        #root .rota-container .rota-footer .shifts-container .location-selector select option,
        #root .rota-container .rota-header .shifts-container .location-selector select option {
          font-size: 1rem; }
    #root .rota-container .person-container .shifts-container .shift-total,
    #root .rota-container .rota-footer .shifts-container .shift-total,
    #root .rota-container .rota-header .shifts-container .shift-total {
      display: block;
      width: 5rem;
      margin: auto;
      text-align: center; }
    #root .rota-container .person-container .shifts-container .shift,
    #root .rota-container .rota-footer .shifts-container .shift,
    #root .rota-container .rota-header .shifts-container .shift {
      margin: auto;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
      #root .rota-container .person-container .shifts-container .shift .time,
      #root .rota-container .rota-footer .shifts-container .shift .time,
      #root .rota-container .rota-header .shifts-container .shift .time {
        border: 2px solid var(--white);
        box-shadow: var(--shadow-medium);
        border-radius: 2rem;
        padding: 0.3rem 0.5rem;
        margin: 0.2rem auto;
        max-width: 80px;
        background-color: var(--white); }
        #root .rota-container .person-container .shifts-container .shift .time:focus,
        #root .rota-container .rota-footer .shifts-container .shift .time:focus,
        #root .rota-container .rota-header .shifts-container .shift .time:focus {
          outline: none; }
  #root .rota-container .person-container:nth-child(odd),
  #root .rota-container .rota-footer:nth-child(odd),
  #root .rota-container .rota-header:nth-child(odd) {
    background-color: var(--blue-gray-clear); }
    #root .rota-container .person-container:nth-child(odd) .title,
    #root .rota-container .person-container:nth-child(odd) .name,
    #root .rota-container .rota-footer:nth-child(odd) .title,
    #root .rota-container .rota-footer:nth-child(odd) .name,
    #root .rota-container .rota-header:nth-child(odd) .title,
    #root .rota-container .rota-header:nth-child(odd) .name {
      color: var(--cream); }
  #root .rota-container .person-container:last-child,
  #root .rota-container .rota-footer:last-child,
  #root .rota-container .rota-header:last-child {
    background-color: var(--turquoise-clear); }

/*# sourceMappingURL=index.css.map */

/*# sourceMappingURL=index.css.map */
